# Network / RPC
IOTA_NETWORK=devnet
IOTA_RPC_URL=https://api.devnet.iota.cafe

# Oracle packages / shared objects (current publish)
DEVNET_ORACLE_TASK_SCHEDULER_QUEUE_ID=0xe6ff3f27ccd66290491cc347eeb0f06be5b7f1ac6b62e58b014b1dbf72b03463
DEVNET_ORACLE_TASK_REGISTRY_ID=0x7c9a644c443857703ee4bfe0faf268334c36c51b0350859e731f04b2b87ed30f
DEVNET_ORACLE_NODE_REGISTRY_ID=0xefe1bd83e1e1e37fe63a4cd6be6f805010e85b16b3575d78df410008489a6708
DEVNET_ORACLE_TREASURY_ID=0x7fec127ee80c8e8583c076d794e40a4c01bd164f675e3966bc592ec56ddc3836
DEVNET_ORACLE_STATE_ID=0x5dc4be991b80f446a0c7b483d1829655721bf059120aefd557406a89076cfb52
DEVNET_ORACLE_SYSTEM_PACKAGE_ID=0xeb541ce2a428418e0b0d637c1cafb0b403ff7acec9ff9c31bcb27f61ff3411bf
DEVNET_ORACLE_TASKS_PACKAGE_ID=0xff5ef1d440aa76aee284b90e1e8e7463f3e0388fdd27a2353c82c668250cebee
DEVNET_IOTA_RPC_URL=https://api.devnet.iota.cafe

# System singletons
IOTA_RANDOM_OBJECT_ID=0x8
IOTA_CLOCK_ID=0x6

# Client identity
CLIENT_KEY_FILE=./keys/oracle_client.iotaprivkey

# Faucet
AUTO_FAUCET=true
IOTA_FAUCET_URL=https://faucet.devnet.iota.cafe/gas

# Optional overrides
GAS_BUDGET=50000000
WAIT_TIMEOUT_MS=180000
EVENT_POLL_MS=1200

# STORAGE preflight
STORAGE_PROBE_TIMEOUT_MS=15000
CREATE_TASK_VARIANT=scheduled_task_v1
