node_modules
dist
build
iota_oracle_move/oracle_tasks/Move.lock
keys
iota_oracle_node/storage/
iota_oracle_node/.env
iota_oracle_client/.env
iota_oracle_webview/.env
.env
.zip
.txt
.pptx
**/keys/**
iota_oracle_move/oracle_validator_cap_delegate/Move.lock
iota_oracle_node/0xed4526b7124624d08ca484af220aecfc45e37158734650a1d13f4b93dd1b0728.key
.codex
iota_oracle_node/.env_devnet_save
