PORT=8787
IOTA_RPC_URL=https://api.devnet.iota.cafe
IOTA_NETWORK=devnet

ORACLE_TASKS_PACKAGE_ID=0x7521e5910c2cec19b8fbe12f8b2827145ed882812ecd3aef33e7ab81c9b0c630
ORACLE_SYSTEM_PACKAGE_ID=0x9d29664cf826bbabf906e87ef4b88b76560286634c44f834c8ad306a8306dea2
ORACLE_STATE_ID=0xec7b66ccf663491e568daa3599ed3771f0886769eb5bf86f1876d91fa4cecfcf

ORACLE_TASK_MODULE=oracle_tasks
ORACLE_MESSAGE_MODULE=oracle_messages
ACTIVE_WINDOW_MINUTES=15
EVENT_FETCH_LIMIT=100
ORACLE_CLIENT_DIR=../iota_oracle_client
ORACLE_CLIENT_EXAMPLES_DIR=examples
VITE_API_BASE_URL=http://localhost:8787