PORT=8787
IOTA_RPC_URL=https://api.testnet.iota.cafe
IOTA_NETWORK=testnet


ORACLE_TASKS_PACKAGE_ID=0xca69402ec6deba4e0b100cb8ec489bcbf8a08e121e2ffbe345fe84fd16f1dd94
ORACLE_SYSTEM_PACKAGE_ID=0xf0ce329c6f779d060208e35ab49fe9edea2c4dd263d630f7c47486d685f725ae
ORACLE_STATE_ID=0x897b992f45163ea0937611fe9b32268165309193d3a7300a489c45636ee9207e

ORACLE_TASK_MODULE=oracle_tasks
ORACLE_MESSAGE_MODULE=oracle_messages
ACTIVE_WINDOW_MINUTES=15
EVENT_FETCH_LIMIT=100
ORACLE_CLIENT_DIR=../iota_oracle_client
ORACLE_CLIENT_EXAMPLES_DIR=examples
VITE_API_BASE_URL=http://localhost:8787